#header {
    background: #0d0d0d;
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
  }
  @media (max-width: 992px) {
    #header {
      height: 60px;
    }
  }
  #header.fixed-top {
    background: rgba(0, 0, 0, 0.85);
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
  #header .logo a {
    color: #fff;
  }
  